#titre2 {
	padding-top: 10vh !important;
	height: 35vh;
}

.btn-primary {
	margin: 0 15px;
	font-size: 1.2em;
}

.row{
	.landing-page {
		margin-right: auto;
		margin-left: auto;
		width: 100%;
	}
}
.container-fluid{
	padding: 0 !important;
}
