.map-wrapper {
  min-height: 100vh;
}


.map-container {
  padding-left: 0;
}

.infobox {
  &.true {
    visibility: visible !important;
  }

  &.false {
    visibility: hidden !important;
  }
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.35);
  transition: all 1s ease;
}
